<!DOCTYPE html>
<!-- .env VITE_SERVICE_LANGUAGE -->
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style.css" />
    <!-- .env VITE_SERVICE_NAME -->
    <title><%- serviceName %></title>
    <!-- .env VITE_SERVICE_DESCRIPTION -->
    <meta name="description" content="<%- serviceDescription %>" />

    <!-- .env VITE_SERVICE_NAME -->
    <meta property="og:title" content="<%- serviceName %>" />
    <!-- .env VITE_SERVICE_DESCRIPTION -->
    <meta property="og:description" content="<%- serviceDescription %>" />
    <meta property="og:type" content="website" />
    <!-- .env VITE_SERVICE_NAME -->
    <meta property="og:site_name" content="<%- serviceName %>" />
    <meta property="og:locale" content="ja_JP" />

    <meta name="twitter:card" content="summary_large_image" />
    <!-- .env VITE_SERVICE_NAME -->
    <meta name="twitter:title" content="<%- serviceName %>" />
    <!-- .env VITE_SERVICE_DESCRIPTION -->
    <meta name="twitter:description" content="<%- serviceDescription %>" />
    <meta name="theme-color" content="#4A90E2" />

    <!-- Captcha -->
    <script
      src="https://hamutan86.pythonanywhere.com/nonstress/nonstress.js"
      async
      defer
    ></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <!-- .env VITE_SERVICE_NAME -->
        <h1><%- serviceName %></h1>
        <!-- .env VITE_SERVICE_DESCRIPTION -->
        <p class="subtitle"><%- serviceDescription %></p>
        <form id="shorten-form">
          <label for="url-input">Long URL:</label>
          <input
            type="url"
            id="url-input"
            placeholder="https://www.example.com/long-url"
            required
          />
          <label for="alias-input">Custom ID (Optional):</label>
          <input
            type="text"
            id="alias-input"
            placeholder="A-Z, a-z, 0-9, -, _"
            pattern="[a-zA-Z0-9-_]+"
          />
          <button type="submit" id="submit-button" class="submit-button">
            短縮する
          </button>
          <button type="button" id="clear-button" class="submit-button">
            クリア
          </button>
        </form>
        <div id="result-area"></div>
      </div>
    </div>

    <div id="captcha-modal" class="modal">
      <div class="modal-content">
        <h3>Captcha</h3>
        <p>画像に表示されている文字列を、下の選択肢から選んでください。</p>
        <div class="captcha-area">
          <div id="captcha-image"></div>
        </div>

        <div id="captcha-options"></div>

        <p id="captcha-error"></p>
        <button type="button" id="captcha-cancel" class="submit-button">
          キャンセル
        </button>
      </div>
    </div>

    <footer></footer>

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
