---

---

<footer>
  <a
    href="https://github.com/otoneko1102/shorturl-service"
    target="_blank"
    rel="noopener noreferrer"
  >
    GitHub Repo
  </a>
</footer>

<style>
  footer {
    width: 100%;
    background-color: var(--container-bg);
    text-align: center;
    box-shadow: 0 -2px 10px var(--shadow-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  footer a {
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
</style>
