---

---

<footer>
  <a
    href="https://github.com/otoneko1102/shorturl-service"
    target="_blank"
    rel="noopener noreferrer"
  >
    GitHub Repo
  </a>
</footer>

<style>
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: var(--container-bg);
    text-align: center;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
  }
  footer a {
    text-align: center;
  }
</style>
